body {
  background-color: rgb(242, 242, 242);



}

/* navbar */
.navbar {
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: rgba(127, 127, 127, 1);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-content1 {
  width: 50vw;
  margin-top: 15px;
  margin-left: 50px;
  text-align: start;
  font-size: 1.5rem;
  text-decoration: none;
}

.nav-content1 :hover {
  color: rgba(89, 89, 89, 1);
}

.nav-content2 {
  width: 50vw;
  margin-top: 15px;
  margin-right: 50px;
  text-align: end;
  font-size: 1.1rem;

}

.nav-list {
  display: flex;
  flex-direction: row-reverse;
  list-style-type: none;
}

.item {
  color: rgba(127, 127, 127, 1);
  margin: 5px;
  text-decoration: none;
  cursor: pointer;
}

.item :hover {
  color: rgba(89, 89, 89, 1);
}

/*home*/

.intro {
  height: 200px;
  background-color: rgba(247, 184, 1, 1);
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2.3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.intro-text {
  margin-left: 300px;
  margin-right: 300px;
  display: inline;
  color: rgba(89, 89, 89, 1);
}

.img-contain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 30px;
}

.designs {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

}

.img {
  height: 100px;
  margin: 20px;
}

.meh {
  height: 400px;
  border-radius: 10px;

}

/*about me*/
.content {
  background-color: rgba(241, 234, 214, 1);
  height: 350px;
  display: flex;
  flex-direction: row;
  font-size: 1.3rem;
  color: rgba(89, 89, 89, 1);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.list {
  width: 50vw;
}

.lists {
  display: flex;
  flex-direction: row;
  width: 50vw;
  justify-content: center;

}

.content-item {
  margin: 20px;
  margin-bottom: 50px;
}

.content-head {
  text-align: center;
  margin-top: 20px;
}

/*contact*/

.contact {
  background-color: rgba(247, 184, 1, 1);
  height: 300px;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contact-section {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.contact-items {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  cursor: pointer;
}

.contact-items:hover {
  font-weight: bold;
  filter: drop-shadow(0.5px 0px 0.5px black);
}

.contact-imgs {
  width: 50px;
  margin: 60px;
  margin-top: 20px;
  margin-bottom: 0px;
}



/*tablet view*/

@media screen and (max-width: 1225px) {
  .nav-content1 {
    font-size: 1.2rem;
  }

  .nav-content2 {
    font-size: 0.9rem;
  }

  .intro-text {
    margin-left: 250px;
    margin-right: 250px;
    font-size: 2rem;
  }

  .content {
    font-size: 1.1rem;
  }

  .contact {
    font-size: 1.7rem;
    height: 250px;
    margin-top: 50px;
  }

  .contact-items {
    font-size: 0.9rem;
  }

  .contact-imgs {
    width: 40px;
  }

  .meh {
    height: 300px;
  }

  .designs {
    height: 400px;
    width: 300px;
  }

  .img {
    height: 70px;
  }
}

/* tablet view */
@media screen and (max-width: 870px) {

  .intro-text {
    margin-left: 150px;
    margin-right: 150px;
    font-size: 1.8rem;

  }

  .content {
    font-size: 1rem;
    height: 320px;
  }

  .contact {
    font-size: 1.5rem;
    height: 200px;
    margin-top: 30px;
  }

  .contact-items {
    font-size: 0.9rem;
  }

  .contact-imgs {
    width: 35px;

    margin: 50px;
    margin-top: 10px;
    margin-bottom: 0;
  }


  .meh {
    height: 300px;
  }

  .designs {
    height: 300px;
    width: 250px;
  }

  .img {
    height: 50px;
  }

}

/* mobile view */
@media screen and (max-width: 750px) {
  .nav-content2 {
    display: none;
  }

  .nav-content1 {
    font-size: 1rem;
  }

  .navbar {
    justify-content: flex-start;
  }

  .intro-text {
    margin-left: 150px;
    margin-right: 150px;
    font-size: 1.2rem;

  }


}